label.busqueda{
color: white;
font:bold 20px "Trebuchet MS"; 

}
thead.thinfo{
background: sienna;
opacity: .6;
color: white;
}
tbody.tbinfo{
background: white;
opacity: .6;

}
h1.h1info{
color:white;
}


thead{
background: sienna;
opacity: .9;
color: white;
}
tbody{
background: peru;
opacity: .9;
font-weight: bold;


}
.h1{
color: white;
}


td{
border: 1px double white;
}
th{
border: 1px double white;
}

tbody.cabecera{
background: none;
}
td.tdcabecera{
border: none;
}

thead.blanco{
background: white;
}
td.marron{
border: 3px solid black;
}


form{
background-color: peru;
opacity: .9;

}






.blur{ 
   background-color: #ccc; /*shadow color*/ 
   color: inherit; 
   margin-left: 4px; 
   margin-top: 4px; 
   width: 600px;
   
} 
.shadow, .content{ 
   position: relative; 
   bottom: 2px; 
   right: 2px; 
} 
.shadow{ 
   background-color: #666; /*shadow color*/ 
   color: inherit; 
} 
.content{ 
   background-color: #fff; /*background color of content*/ 
   color: #000; /*text color of content*/ 
   border: 1px solid #000; /*border color*/ 
   padding: .5em 2ex; 
} 
.content IMG{ 
   border: 1px solid #000000; 
}

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color: black;
}

.active_page{
	background-color:white !important;
	color:black !important;
}	